
<br>
<br>
<h2>And the photo gallery:</h2>

{{#each add}}
{{image4}}
{{image5}}
{{image6}}
{{image7}}
{{image8}}
{{image9}}
{{image10}}
{{image11}}

<br>
<br>
<a href="/forrental/add">Back to the add page</a>
<br>
<br>

{{/each}}