
<br>
<br>
<h1>{{foundAdd.headline}}</h1>
<br>

<p>{{foundAdd.shortText}}</p>
<a href="/forrental/moretext?id={{foundAdd._id}}">Read more</a>

<br><br><br>

<h3>Images:</h3>
{{#each pics}}
<img src={{this.path}} width="500" >
{{/each }}

<a href="/forrental/moreimage?id={{foundAdd._id}} ">Photo gallery</a>
<br><br><br>

<h3>Media links:</h3>
    <a href="https://{{foundAdd.link1}}">{{foundAdd.link1}}</a><br>
    <a href="https://{{foundAdd.link2}}">{{foundAdd.link2}}</a>
<br><br><br>

<h3>Contact info:</h3>
<p>{{foundAdd.contact}}</p><br>

<h3>Location on a map:</h3>
<p>Address: {{foundAdd.address}}</p>
{{!-- Google map div --}}
<div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=MAPSSECRET&callback=initMap"></script>
    {{!-- <script type="text/javascript" src="/javascripts/map.js"></script> --}}

<script>
    function initMap() {
    // Jahu center: 59.4468217, 24.7385231
    var myLatLng = { lat: {{foundAdd.lat}}, lng: {{foundAdd.lng}} };

    // The map, centered at jahu
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 12, center: myLatLng});
    // The marker, positioned at Jahu
    var marker = new google.maps.Marker({position: myLatLng, map: map});
    }
</script>




