<p>GOOD JOB!! This is the final page where everything comes together</p>


<h1>{{foundAdd.headline}}</h1>
<br>

<p>{{foundAdd.shortText}}</p>
<a href="/forrental/moretext?id={{foundAdd._id}}">Read more</a>

<br><br><br>



<h2>Images:</h2>

{{#each pics}}
<img src={{this.path}}>
{{/each }}



<a href="/forrental/moreimage?id={{foundAdd._id}} ">Photo gallery:</a>
<br><br><br>


<h3>Media links:</h3>
    <a href="https://{{foundAdd.link1}}">{{foundAdd.link1}}</a><br>
    <a href="https://{{foundAdd.link2}}">{{foundAdd.link2}}</a>
<br><br><br>



<h3>Location on a map:</h3>
<p>Address: {{foundAdd.address}}</p>
{{!-- Google map div --}}
<div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=MAPSSECRET&callback=initMap"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>






